
body {
    background: radial-gradient(circle, #111, #000);
    color: #00ffaa;
    font-family: 'Arial', sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kotak utama */
.kotak-jam {
    background: rgba(0, 0, 0, 0.7);
    padding: 30px 50px;
    border-radius: 15px;
    
   
}

/* Tanggal */
#tanggal {
    font-size: 22px;
    margin-bottom: 15px;
    letter-spacing: 2px;
    color: #00ffaa;
   
}

/* Jam */
#jam {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 5px;
    color: #00ffaa;
   
}


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
}
